Importing required packages, loading data file into dataframe, checking data types, and checking for null values.

In [1]:
import pandas as pd
from sklearn.preprocessing import minmax_scale

In [2]:
rawdf = pd.read_csv("recom.csv", index_col=0)
rawdf

,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,NaN
2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,NaN
4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,NaN
...,...,...,...,...,...,...,...
49995,bb127ffb,4e0eb5ab,2022-09-24 21:48:20.847,111.5,45004.0,4.0,45004.0
49996,a8bc484a,c9946c16,2022-11-18 19:49:01.973,34.0,49292.0,1.0,NaN
49997,c983862a,d1a35c5c,2022-11-24 20:02:43.023,178.0,5001.5,1.0,5001.5
49998,8821da12,66f9b474,2022-11-06 13:07:01.423,26.0,49291.5,1.0,NaN
49999,7f281f91,0ff8b41f,2022-10-10 16:06:20.473,52.0,45001.5,1.0,45001.5

In [3]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Main_ID         50000 non-null  object
 1   Transaction_ID  50000 non-null  object
 2   Date            50000 non-null  object
 3   Price           50000 non-null  float64
 4   Code_Product    50000 non-null  float64
 5   Amount          50000 non-null  float64
 6   ItemKey         28597 non-null  float64
dtypes: float64(4), object(3)
memory usage: 3.1+ MB

Replacing missing values from the ItemKey column with the product codes from the Code_Product column.

In [4]:
rawdf["ItemKey"] = rawdf.ItemKey.fillna(rawdf.Code_Product)
rawdf

,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,35012.0
2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,35078.5
4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,49291.5
...,...,...,...,...,...,...,...
49995,bb127ffb,4e0eb5ab,2022-09-24 21:48:20.847,111.5,45004.0,4.0,45004.0
49996,a8bc484a,c9946c16,2022-11-18 19:49:01.973,34.0,49292.0,1.0,49292.0
49997,c983862a,d1a35c5c,2022-11-24 20:02:43.023,178.0,5001.5,1.0,5001.5
49998,8821da12,66f9b474,2022-11-06 13:07:01.423,26.0,49291.5,1.0,49291.5
49999,7f281f91,0ff8b41f,2022-10-10 16:06:20.473,52.0,45001.5,1.0,45001.5

In [5]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Main_ID         50000 non-null  object
 1   Transaction_ID  50000 non-null  object
 2   Date            50000 non-null  object
 3   Price           50000 non-null  float64
 4   Code_Product    50000 non-null  float64
 5   Amount          50000 non-null  float64
 6   ItemKey         50000 non-null  float64
dtypes: float64(4), object(3)
memory usage: 3.1+ MB

To create ratings based on how much more or less than the average purchaser a customer buys an item, a min-max scaler is applied on each item column of the customer-to-item total amount purchased pivot table.

In [6]:
pivotdf = pd.pivot_table(data=rawdf.drop(columns=["Date", "Price", "Code_Product"]), columns="ItemKey", index="Main_ID", aggfunc="sum")
pivotdf.columns = [x[1] for x in pivotdf.columns]
pivotdf

,5000.5,5001.0,5001.5,5002.0,5002.5,5003.0,5004.0,5004.5,5005.0,5007.0,...,200035.5,200037.0,200037.5,200038.0,200038.5,200045.5,200046.0,200046.5,200047.0,350027.5
Main_ID,,,,,,,,,,,,,,,,,,,,,
00024de6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00084856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0008e848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00096930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000c66b7,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff8b1c4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fff905d0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fff9726b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fffa332b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffff4aa9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pivotdf.dtypes

5000.5      float64
5001.0      float64
5001.5      float64
5002.0      float64
5002.5      float64
             ...
200045.5    float64
200046.0    float64
200046.5    float64
200047.0    float64
350027.5    float64
Length: 333, dtype: object

In [8]:
ratingsdf = pivotdf.apply(lambda x: minmax_scale(x, feature_range=(1,5)), axis=0, result_type="broadcast").fillna(0)
ratingsdf

,5000.5,5001.0,5001.5,5002.0,5002.5,5003.0,5004.0,5004.5,5005.0,5007.0,...,200035.5,200037.0,200037.5,200038.0,200038.5,200045.5,200046.0,200046.5,200047.0,350027.5
Main_ID,,,,,,,,,,,,,,,,,,,,,
00024de6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00084856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0008e848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00096930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000c66b7,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff8b1c4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fff905d0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fff9726b,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fffa332b,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ffff4aa9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

An item similarity matrix is produced to determine which item pairs tend to be purchased by the same individuals.

In [9]:
itemsimilarity = ratingsdf.corr()
itemsimilarity

,5000.5,5001.0,5001.5,5002.0,5002.5,5003.0,5004.0,5004.5,5005.0,5007.0,...,200035.5,200037.0,200037.5,200038.0,200038.5,200045.5,200046.0,200046.5,200047.0,350027.5
5000.5,1.000000,0.104684,0.059164,0.084722,-0.004608,0.003886,-0.003460,0.043333,0.041848,0.027942,...,-0.005757,-0.003174,-0.005125,-0.002060,-0.002914,-0.004200,-0.005047,-0.002060,-0.002060,-0.002914
5001.0,0.104684,1.000000,0.062448,0.116504,-0.001571,0.000631,-0.002721,0.059691,0.117304,0.036798,...,-0.001963,-0.001082,-0.001747,-0.000702,-0.000993,-0.001432,-0.001721,-0.000702,-0.000702,-0.000993
5001.5,0.059164,0.062448,1.000000,0.040006,-0.001557,0.006493,0.007319,0.003266,0.026123,0.074991,...,-0.001946,-0.001073,-0.001732,-0.000696,-0.000985,-0.001419,-0.001706,-0.000696,-0.000696,-0.000985
5002.0,0.084722,0.116504,0.040006,1.000000,-0.001953,0.012393,-0.003383,0.038650,0.035256,0.015603,...,-0.002440,-0.001345,-0.002172,-0.000873,-0.001235,-0.001780,-0.002139,-0.000873,-0.000873,-0.001235
5002.5,-0.004608,-0.001571,-0.001557,-0.001953,1.000000,-0.000384,-0.000304,-0.000606,-0.000455,-0.000292,...,-0.000219,-0.000121,-0.000195,-0.000078,-0.000111,-0.000160,-0.000192,-0.000078,-0.000078,-0.000111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200045.5,-0.004200,-0.001432,-0.001419,-0.001780,-0.000160,-0.000350,-0.000277,-0.000553,-0.000414,-0.000266,...,-0.000200,-0.000110,0.092005,-0.000071,-0.000101,1.000000,-0.000175,-0.000071,-0.000071,-0.000101
200046.0,-0.005047,-0.001721,-0.001706,-0.002139,-0.000192,-0.000420,-0.000333,-0.000664,-0.000498,-0.000320,...,0.051620,-0.000132,-0.000214,-0.000086,-0.000122,-0.000175,1.000000,-0.000086,-0.000086,-0.000122
200046.5,-0.002060,-0.000702,-0.000696,-0.000873,-0.000078,-0.000172,-0.000136,-0.000271,-0.000203,-0.000131,...,-0.000098,-0.000054,-0.000087,-0.000035,-0.000050,-0.000071,-0.000086,1.000000,-0.000035,-0.000050
200047.0,-0.002060,-0.000702,-0.000696,-0.000873,-0.000078,-0.000172,-0.000136,-0.000271,-0.000203,-0.000131,...,-0.000098,-0.000054,-0.000087,-0.000035,-0.000050,-0.000071,-0.000086,-0.000035,1.000000,-0.000050
350027.5,-0.002914,-0.000993,-0.000985,-0.001235,-0.000111,-0.000243,-0.000192,-0.000384,-0.000288,-0.000185,...,-0.000139,-0.000076,-0.000123,-0.000050,-0.000070,-0.000101,-0.000122,-0.000050,-0.000050,1.000000

Five items are recommended to each user out of the items they have not yet bought based on the ratings given to each bought item and their similarity to the unbought items. The items with the highest similarity to the highest-rated purchased items are recommended first.

In [10]:
itemrecomslist = []
for user in ratingsdf.index:
    bought_items = ratingsdf.loc[user][ratingsdf.loc[user] > 0.5].sort_values(ascending=False)
    user_recoms = []
    for item in bought_items.index:
        most_similar_unbought = [(x, itemsimilarity.loc[item][x] * ratingsdf.loc[user][item]) for x in itemsimilarity.loc[item][ratingsdf.loc[user] < 0.5].sort_values(ascending=False).index]
        user_recoms.extend(most_similar_unbought[:5])
    user_recomsfinal = []
    [user_recomsfinal.append(x[0]) for x in sorted(user_recoms, reverse=True, key=lambda x: x[1]) if x[0] not in user_recomsfinal and len(user_recomsfinal) < 5]
    itemrecomslist.append(user_recomsfinal)
itemrecomsdf = pd.DataFrame(itemrecomslist, index=ratingsdf.index, columns=["Item 1","Item 2","Item 3","Item 4", "Item 5"])
itemrecomsdf

           Item 1   Item 2   Item 3   Item 4   Item 5
Main_ID
00024de6  35049.0  35001.0  35096.5  30026.5  15004.5
00084856  25003.0  10006.0  48513.0   5005.0  49567.5
0008e848  15000.5  35077.0  48522.5  48523.5  40075.0
00096930  25003.0  10006.0  48513.0   5005.0  49567.5
000c66b7   5001.0  10015.0  10032.5  10003.0  30001.5
...           ...      ...      ...      ...      ...
fff8b1c4  35076.0  35076.5  40001.5  35001.0  35096.5
fff905d0  10006.0  25003.0   5005.0  10023.5  25004.5
fff9726b  15004.5  30003.5  30008.0  15016.5   5001.0
fffa332b  25003.0   5000.5  48513.0  20024.5  10003.0
ffff4aa9  10023.5  10003.0   5001.0   5000.5  10015.0

[28514 rows x 5 columns]